body {
  
  background-image:url("https://dasg7xwmldix6.cloudfront.net/episodes/112569_xxCg4bUk.jpg") ;
  background-repeat:no-repeat;
  background-size:cover;
   padding:30px;
  
  
  
}

#title{
  margin-block-end: .25em;
  color: #720bb3;
 
}
#subheading {
    display: block;
    font-size: 1.17em;
    margin-block-start: .20em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  color:#ed11e6;
}
.heading{
  color: #25bce6;
}
p{
  color: #f50792;
  font-size:130%;
  
}
#info{
  color: #156e1b;
  font-size:125%;
 
}
#source{
  color:#156e1b ;
}
#story{
  font-size: 150%;
  color:#7334ba;
}
label{
 color:#7334ba;
}
#storytitle{
  font-size: 50px;
}
#subbut{
  background-color:#caa4f5;
}

#female{
  color:#e851d1;
}
li { display: inline;
margin-right: 50px;
font-size:135%;
}
#male{
  color:#2b30ad;
}
#joinnow{
  color:#25bce6;
}
form{
 // background-color: #ebd7be;
  padding-top:10px;
}
